<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="aos/aos.min.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Tesla Roadster</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="#">
                <img src="assets/logo.png" class="brand" />
            </a>
            <ul>
                <li><a href="#"> Model S </a></li>
                <li><a href="#"> Model 3 </a></li>
                <li><a href="#"> Model X </a></li>
                <li><a href="#"> Model Y </a></li>
                <li><a href="#"> Solar Roof </a></li>
                <li><a href="#"> Solar Panels </a></li>
            </ul>
            <ul>
                <li><a href="#"> Shop </a></li>
                <li><a href="#"> Account </a></li>
                <li><span class="menu-btn"> Menu </span></li>
            </ul>
            <span class="menu-btn-mobile"> Menu </span>
        </nav>

        <nav class="sidebar">
            <div class="close-btn">
                <span class="material-symbols-outlined"> close </span>
            </div>
            <ul>
                <li><a href="#"> Model S </a></li>
                <li><a href="#"> Model 3 </a></li>
                <li><a href="#"> Model X </a></li>
                <li><a href="#"> Model Y </a></li>
                <li><a href="#"> Solar Roof </a></li>
                <li><a href="#"> Solar Panels </a></li>
                <li><a href="#"> Existing Inventory </a></li>
                <li><a href="#"> Used Inventory </a></li>
                <li><a href="#"> Trade-In </a></li>
                <li><a href="#"> Test Drive </a></li>
                <li><a href="#"> Insurance </a></li>
                <li><a href="#"> Powerwall </a></li>
                <li><a href="#"> Commercial Energy </a></li>
                <li><a href="#"> Utilities </a></li>
                <li><a href="#"> Charging </a></li>
                <li><a href="#"> Find Us </a></li>
                <li><a href="#"> Support </a></li>
                <li><a href="#"> Investor Relations </a></li>
                <li><a href="#"> Shop </a></li>
                <li><a href="#"> Account </a></li>
                <li><a href="#"> More </a></li>
            </ul>
        </nav>

        <div class="sidebar-backdrop"></div>

        <div class="header-body">
            <h1 class="title">Roadster</h1>
            <div>
                <p>
                    ​The quickest car in the world, with record-setting acceleration, range and performance.
                </p>
                <div class="stats">
                    <div>
                        <div class="gauge">
                            <img src="assets/speedometer.png" />
                            <h2>1.9<span>s</span></h2>
                        </div>
                        <div>
                            <small>0-60 mph</small>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h2><span>+</span>250<span>mph</span></h2>
                        </div>
                        <div>
                            <small>Top Speed</small>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h2>620<span>s</span></h2>
                        </div>
                        <div>
                            <small>Range</small>
                        </div>
                    </div>
                    <a href="#" class="btn"> Reserve Now </a>
                </div>
                <a href="#" class="btn btn-mobile"> Reserve Now </a>
                <a href="#video">
                    <img src="assets/arrow-down.svg" class="arrow" />
                </a>
            </div>
        </div>
    </header>

    <script src="main.js"></script>
</body>

</html>